
.inner {
  width: 72%;
  max-width: 70em;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 75px;
}

table {
  font-size: 14px;
  border-bottom: 2px solid #2875B4;
}

table th, table td {
  border-bottom: 1px solid #bbb;
  text-align: left;
  padding: 1px;
}

table th {
  font-weight: 700;
  background-color: #fff;
  color: black;
}

table thead tr th div {
  padding-bottom: 1px !important; /* had to put important because kable's add_header_above puts some styling, and seems can not be avoided */
  border-bottom: none !important; 
  padding: 1px;
}



/*clinical table styles */
table.data_clinical_table_style tr:nth-child(odd) {
  background-color: #DFDFD8;
}
table.data_clinical_table_style {
    border-top: 2px solid #737373;
    border-bottom: 2px solid #737373;
}
/*==========*==========*/

/*summary table style */
table.summary_table_style tr:nth-child(odd) {
  background-color: #fbf8c7;
}
table.summary_table_style {
  border-top: 2px solid #FFA500;
  border-bottom: 2px solid #FFA500;
}
table.summary_table_style td{
  border-bottom: 1px solid #FFA500;
}
/*==========*==========*/

/*methods table style */
table.methods_table_style td{
  border-bottom: none;
  background-color: #fff;
}
table.methods_table_style {
  border-top: 2px solid #FFA500;
  border-bottom: 2px solid #FFA500;
}
/*==========*==========*/


table.report_info_table_class {
  border-bottom: none;
}




@media screen and (max-width: 600px) {
  img.img_class {
    display: none;
  }
}


/*-------------*/

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
  }
  
input[type='checkbox'] {
display: none;
}

.lbl-toggle {
    display: block;
    cursor: pointer;
    transition: all 0.25s ease-out;
    font-size: 0.9rem;
    background-color: #2875B4; 
    color: #fff;
    padding-left: 0.3rem;
    margin-bottom: 0.3rem;
}

.lbl-toggle:hover {
  color: black;
  font-weight: bold;
}

/* For the small arrow, some clever use of borders makes it easy to create the triangle shape: */
.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
max-height: 0px;
overflow: auto;
transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {

}


