*/output*/*
nextflow
.nextflow/
.nextflow.log
work/
nextflow
.nextflow.log*
output/
test_input_data/
*.sif
input.json
*.json
conda
files.txt*
cache/
muts.maf.txt
hisens.cncf.txt
*.pyc
sanitize
__pycache__
fixtures
old_fixtures/
output*
facets_hisens_cncf_files.txt
facets_hisens_seg_files.txt
mutation_maf_files.txt
mutation_svs_maf_files.txt
mutation_svs_txt_files.txt
facets-pairs.txt
analyst.txt
portal.txt
.DS_Store
containers/R-3.5.1/bin
.Rproj.user
.RData
containers/reporting/report/
*.Rproj
environment.txt
containers/reporting/bin
portal/
report/portal
*.html
*.Rdata
.Rhistory
samples.txt
out.tsv
o.tsv
