
.inner {

  width: 80%;

}

header {
  padding-top: 3px;
  padding-bottom: 3px;

}

table {
  font-size: 12px;
}

table th, table td {
  border-bottom: 1px solid #bbb;
  text-align: left;
  padding: 1px;
}

table th {
  font-weight: 700;
  background-color: #fff;
  color: black;
}

table.summary_table_style tr:nth-child(odd) {
  background-color: #FBEEC7;
}

table.summary_table_style {
    border-top: 2px solid #FFA500;
    border-bottom: 2px solid #FFA500;
}

table.summary_table_style td{
  border-bottom: 1px solid #FFA500;
}


table.data_clinical_table_style tr:nth-child(odd) {
  background-color: #DBDEFF;
}

table.data_clinical_table_style {
    border-top: 2px solid #DBDEFF;
    border-bottom: 2px solid #DBDEFF;
}

}
