profiles {
    juno {
        // executor {
        //     name = "lsf"
        //     perJobMemLimit = true
        // }

        // process {
        //     memory = "8.GB"
        //     time = { 1.h * task.attempt }
        //     clusterOptions = ""
        //     beforeScript = "module load singularity/3.1.1" // ; unset R_LIBS
        //     errorStrategy = { task.attempt <= 2 ? 'retry' : 'terminate' }
        // }
    }
}
