profiles {
    juno {
        params.containerDir = "containers"
        executor {
            name = "lsf"
        }

        process {
            memory = "8.GB"
            time = { 1.h * task.attempt }
            clusterOptions = '-sla CMOPI'
            beforeScript = """
            module load singularity/3.1.1
            unset R_LIBS
            """
        }
    }
}
